#header-section {
    display: flex;
    justify-content: space-between;  
    list-style-type: none;
    font-weight: bold;
}

h2 {
  font-size: 32px;
}

#title-page {
  display: block;

}

.quiz-section, #finished-page, #highscores {
  display: none;
}

#highscore-list{
  display: none;
  background-color: rgba(71, 145, 145, 0.353);
  width: 50%;
}

#highscore-list li{
  border: 1px solid black;
  padding: 10px;
}

#finished-page p{
  font-weight: bold;
  padding-bottom: 10px;
}

#highscore-list li:nth-child(2n){
  background-color: rgba(71, 145, 145, 0.353);
}

.feedback{
  display: none;
}

.feedback h3{
  color:rgba(102, 99, 99, 0.777);
}

button{
  margin-top: 15px;
}
